<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>EDIT</title>
  <link rel="stylesheet" href="/public/styles/default.css">
</head>

<body>
  <h2> EDIT Todo</h2>
 
  <div class="div-btn-navigation">
    <button onclick="window.location.href='/index'">Return to Index</button>
  </div>
  
  <div>
    <form id="form-edit-todo" method="POST" accept-charset="utf-8">
      <style>
        table tr td {
          padding: 5px;
        }
      </style>
      <table>
        <tr>
          <td>
            <label for="edit-title-id">Title
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" id="edit-title-id" size="50" name="edit-title-name" value="{{result.title}}" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="iscompleted-id">Completed
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="iscompleted-id" name="iscompleted-name" {{#ifChecked result.completed}}{{/ifChecked}}>
          </td>
        </tr>
      </table>
      <input type="submit" value="Save" id="sub-save-id" name="sub-save-name">
    </form>
  </div>
  
  <br>
  

  {{#ifResult resultEdited}}
  <div id="result_updated">
    <h3>Todo Updated</h3>
    <p>
      <strong>Id: </strong>{{resultEdited.id}}
      <br>
      <strong>Title: </strong>{{resultEdited.title}}
      <br>
      <strong>Completed: </strong>{{resultEdited.completed}}
      <br>
      <p>
  </div>
  {{/ifResult}}
  

</body>

</html>