<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>INDEX</title>
  <link rel="stylesheet" href="/public/styles/default.css">
</head>

<body>
  <h2>Todo's Index</h2>

  <div class="div-btn-navigation">
    <button onclick="window.location.href='/new'">New Todo
      </button>
  </div>

  <div>
    <table class="table-data" id="table-data-index">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Is completed</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each result}}
        <tr>
          <td id='result-id-{{id}}'>{{id}}</td>
          <td id='result-title-{{id}}'>{{title}}</td>
          <td id='result-completed-{{id}}'>{{completed}}</td>
          <td id="result-createdat-{{id}}">
            {{created_at}}</td>
          <td id="result-updatedat-{{id}}">
            {{updated_at}}</td>

          <td>
            <table class="table-data-action">
              <tr>
                <td id='result-edit-{{id}}'>
                  <a href="/edit/{{id}}">edit</a>
                </td>
                <td id='result-delete-{{id}}'>
                  <a href="/delete/{{id}}">delete</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</body>

</html>