<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>NEW</title>
  <link rel="stylesheet" href="/public/styles/index.css">
</head>

<body>
  <h2>New Todo</h2>
  <div class="div-btn-navigation">    
      <button onclick="window.location.href='/index'">Return to Index</button>
  </div>
  <div>    
    <form id="frm-new-todo" method="post" accept-charset="utf-8">
      <table>
        <tr>
          <td>
            <label for="create-title-id">Title
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" id="create-title-id" name="create-title-name" size="50" required="true">
          </td>
        </tr>
        <tr>
          <td>
            <label for="iscompleted-id">Completed
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="iscompleted-id" name="iscompleted-name">
          </td>
        </tr>
      </table>
      <input type="submit" value="Save" id="sub-save-id" name=sub-save-name>
    </form>
  </div>
  
  <br>

  
  <div id="result_create">
    {{#ifResult result}}
      <h3>Todo Created</h3>
      <p>
        <strong>Title: </strong>{{result.title}}
        <br>
        <strong>Completed: </strong>{{result.completed}}
        <br> 
      <p>
    {{/ifResult}}
  </div>
  
</body>

</html>